DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=pdvpro_saas
DB_USER=root
DB_PASS=

APP_URL=https://seu-dominio.com

PAINEL_API_URL=https://painel.sub2.altusci.com.br/api/index.php

SETUP_KEY=troque-esta-chave-secreta
